annotated-types
anyio
blinker
certifi
click
colorama
distro
dnspython
Flask
Flask-Cors
groq
gunicorn
h11
httpcore
httpx
idna
itsdangerous
Jinja2
joblib
lxml
MarkupSafe
neattext
numpy
packaging
pandas
pydantic
pydantic_core
pymongo
PyPDF2
python-dateutil
python-docx
python-dotenv
pytz
scikit-learn
scipy
six
sniffio
threadpoolctl
typing_extensions
tzdata
Werkzeug


